<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/bootstrap")
    @Styles.Render("~/Content/css")
    @Styles.Render("~/Content/Icon")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/modernizr")
    <link href="~/Resources/CSS/Layout/gridcustomtyle.css" rel="stylesheet" />
</head>
<body>
    <div class="Title" id="top">
        <img class="d-inline-block logo" id="logo" src="~/Resources/Images/Banners/logo.png" />
        <div class="d-inline-block Company" style="text-align:center" id="Company">
            <h3>CÔNG TY TNHH THƯƠNG MẠI DỊCH VỤ</h3>
            <h3>HIỆU CHUẨN CAL-GROUP</h3>
        </div>
        <div class="d-inline-block hotline" id="hotline">
            <p>Dương Hoàng Hải</p>
            <p>Hotline 1: 0909 0909</p>
            <p>Dương Hoàng Hải</p>
            <p>Hotline 1: 0909 0909</p>
        </div>
    </div>
    <nav class="navbar Topnav navbar-expand-md navbar-dark fixed-top" id="navbar">
        <a class="Topnav-item icon fa fa-home Left" href="/Home/Index"></a>
        <form class="form-inline Search">
            <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
            <button class="btn btn-outline-light my-2 my-sm-0" type="submit"><i class="fas fa-search"></i></button>
        </form>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <div class="Bar">
                <a class="Topnav-item" href="/Home/About">Giới thiệu</a>
                <a class="Topnav-item" href="/Home/Calibration">Hiệu chuẩn</a>
                <a class="Topnav-item" href="/Sanpham" >Sản phẩm</a>
                <a class="Topnav-item" href="/News/Index">Tin tức</a>
                <a class="Topnav-item" href="/Home/Contact">Liên lạc</a>
                <a class="Topnav-item" href="/News">Thư viện</a>
                <a class="Topnav-item" href="/FAQweb/Index">FAQ</a>
            </div>
        </div>
    </nav>
    @RenderBody()
    <hr style="border: 0; height: 1px; background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));" />
    <footer>
        <div class="container-fluid">
            <h2 style="text-align:center;color:#0075bf">Đối tác chiến lược</h2>
            <div class="row justify-content-center" style="margin:unset">
                <div class="col-sm-2">
                    <div style="text-align:center">
                        <img class="img-fluid logo-sub" src="~/Resources/Images/Banners/honda-logo.png" />
                    </div>
                </div>
                <div class="col-sm-2">
                    <div style="text-align:center">
                        <img class="img-fluid logo-sub" style="margin-top:25%" src="~/Resources/Images/Banners/panasonic-logo.png" />
                    </div>
                </div>
                <div class="col-sm-2">
                    <div style="text-align:center">
                        <img class="img-fluid logo-sub" style="margin-top:15%" src="~/Resources/Images/Banners/samsung-logo.png" />
                    </div>
                </div>
                <div class="col-sm-2">
                    <div style="text-align:center">
                        <img class="img-fluid logo-sub" style="margin-top:30%" src="~/Resources/Images/Banners/sony-logo.png" />
                    </div>
                </div>
                <div class="col-sm-2">
                    <div style="text-align:center">
                        <img class="img-fluid logo-sub" style="margin-top:10%" src="~/Resources/Images/Banners/Toyota-logo.png" />
                    </div>
                </div>
            </div>
        </div>        
        <br />
        <div class="container-fluid" style="padding-top:20px;position:relative;background-color: #0075bf;color:white">
            <div class="row MenuBT justify-content-center">
                <div class="col-md-3 text-center">
                    <img style="height:100px;width:auto" src="~/Resources/Images/zalo.png" />
                    <h6>Sale</h6>
                    <h5>Nguyen Van teo</h5>
                    <h6><i class="fas fa-phone"></i> 0909 555 555</h6>
                    <ul class="list-unstyled list-inline text-center">
                        <li class="list-inline-item">
                            <img class="icons" style="height:42px;width:auto" src="~/Resources/Images/skype.png" />
                            <img class="icons" style="height:42px;width:auto" src="~/Resources/Images/zalo.png" />
                        </li>
                    </ul>
                </div>
                <div class="col-md-3 text-center">
                    <img style="height:100px;width:auto" src="~/Resources/Images/zalo.png" />
                    <h6>Sale</h6>
                    <h5>Nguyen Van teo</h5>
                    <h6><i class="fas fa-phone"></i> 0909 555 555</h6>
                    <ul class="list-unstyled list-inline text-center">
                        <li class="list-inline-item">
                            <img class="icons" style="height:42px;width:auto" src="~/Resources/Images/skype.png" />
                            <img class="icons" style="height:42px;width:auto" src="~/Resources/Images/zalo.png" />
                        </li>
                    </ul>
                </div>
                <div class="col-md-3 text-center">
                    <img style="height:100px;width:auto" src="~/Resources/Images/zalo.png" />
                    <h6>Sale</h6>
                    <h5>Nguyen Van teo</h5>
                    <h6><i class="fas fa-phone"></i> 0909 555 555</h6>
                    <ul class="list-unstyled list-inline text-center">
                        <li class="list-inline-item">
                            <img class="icons" style="height:42px;width:auto" src="~/Resources/Images/skype.png" />
                            <img class="icons" style="height:42px;width:auto" src="~/Resources/Images/zalo.png" />
                        </li>
                    </ul>
                </div>
                <div class="col-md-3 text-center">
                    <img style="height:100px;width:auto" src="~/Resources/Images/zalo.png" />
                    <h6>Sale</h6>
                    <h5>Nguyen Van teo</h5>
                    <h6><i class="fas fa-phone"></i> 0909 555 555</h6>
                    <ul class="list-unstyled list-inline text-center">
                        <li class="list-inline-item">
                            <img class="icons" style="height:42px;width:auto" src="~/Resources/Images/skype.png" />
                            <img class="icons" style="height:42px;width:auto" src="~/Resources/Images/zalo.png" />
                        </li>
                    </ul>
                </div>
            </div>
            <hr style="border: 0; height: 1px; background-image: linear-gradient(to right, #0075bf, white, #0075bf);" />
            <div class="row MenuBT justify-content-center">
                <div class="col-md-2">
                    <h5 class="text-uppercase font-weight-bold" style="border-bottom:solid">Contact Us</h5>
                    <p class="Footercontent"> EWONS</p>
                    <p class="Footercontent"><a class="Footeractive">Văn Phòng chính</a></p>
                    <p class="Footercontent">Địa chỉ: BLABLA Q.BT, TP.HCM.</p>
                    <p class="Footercontent">Điện thoại: 0909123456</p>
                    <p class="Footercontent">Fax: 202020202</p>
                    <p class="Footercontent">E-Mail: sagosoft@gmail.com </p>
                </div>
                <div class="col-md-3">
                    <h5 class="text-uppercase font-weight-bold" style="border-bottom:solid">Kiến thức cần biết</h5>
                    <ul class="list-unstyled">
                        <li>
                            <a class="Footerlink" href="/Home/Question">Hiệu chuẩn là gì?</a>
                        </li>
                        <li>
                            <a class="Footerlink" href="#">Kiểm định là gì?</a>
                        </li>
                        <li>
                            <a class="Footerlink" href="#">Phân biệt hiệu chuẩn và kiểm định?</a>
                        </li>
                        <li>
                            <a class="Footerlink" href="#">Độ không đảm bảo đo là gì?</a>
                        </li>
                    </ul>
                </div>
                <div class="col-md-3">
                    <div class="text-left">
                        <h5 class="text-uppercase font-weight-bold" style="border-bottom:solid">Hãy kết nối với chúng tôi</h5>
                        <br />
                        <ul class="list-unstyled list-inline text-center">
                            <li class="list-inline-item">
                                <a class="btn-block btn-sm mx-1">
                                    <i class="fab fa-facebook-square fa-3x icons" style="color:white"></i>
                                </a>
                            </li>
                            <li class="list-inline-item">
                                <a class="btn-block btn-sm mx-1">
                                    <i class="fab fa-google-plus fa-3x icons" style="color:white;"></i>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <br />
        </div>
        <div class="container-fluid Copyright" style="padding-bottom:10px; padding-top:10px;background-color: #0075bf;color:white">
            <div class="text-center MenuBT">
                © 2018 Copyright
            </div>
        </div>
    </footer>
    @Scripts.Render("~/bundles/JavaScript")
    @RenderSection("scripts", required: false)
</body>
</html>
