<!DOCTYPE html>
@{
    var layout = (Calgroup.VM.Layoutmodel)ViewBag.Mymodel;
}
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Công ty TNHH Thương mại dịch vụ hiệu chuẩn Calgroup...">
    <meta name="keywords" content="hieu chuan, hiệu chuẩn, kích thước, điện, nhiệt, nhiệt ẩm, lực, độ cứng, khối lượng, áp suất, hóa lý, thể tích, hiệu chuẩn calgroup, Calgroup.vn">
    <meta property="og:title" content="Công ty TNHH Thương mại dịch vụ hiệu chuẩn Calgroup...">
    <meta property="og:type" content="article">
    <!-- <meta property="og:url" content="http://www.calgroup.vn"> -->
    <meta property="og:description" content=" Hiệu chuẩn phương tiện đo là thiết lập mối tương quan giữa đo lường và phương tiện đo. Hiệu chuẩn liên quan tới xác định các đặc tính đo lường của một phương tiện đo. Thực hiện thông qua việc so sánh trực tiếp với những chuẩn đã biết.">
    <meta property="og:image" content="/Resources/Images/Banners/logo.png">
    <!-- Dublin Core-->
    <meta name="DC.Title" content="Công ty TNHH Thương mại dịch vụ hiệu chuẩn Calgroup">
    <meta name="DC.Creator" content="CalgroupVN">
    <meta name="DC.Subject" content="Hiệu chuẩn thiết bị đo lường các lĩnh vực kỹ thuật">
    <meta name="DC.Description" content="Hiệu chuẩn phương tiện đo là thiết lập mối tương quan giữa đo lường và phương tiện đo. Hiệu chuẩn liên quan tới xác định các đặc tính đo lường của một phương tiện đo. Thực hiện thông qua việc so sánh trực tiếp với những chuẩn đã biết.">
    <meta name="DC.Publisher" content="CalgroupVN">
    <meta name="DC.Contributor" content="CalgroupVN">
    <meta name="DC.type" scheme="DCTERMS.DCMIType" content="Text">
    <meta name="DC.format" content="text/html; charset=UTF-8">
    <meta name="DC.language" scheme="DCTERMS.RFC1766" content="vi">
    <meta name="geo.region" content="VN">
    <title>CalgroupVN - @ViewBag.Title</title>
    <link rel="shortcut icon" type="image/x-icon" href="/favicon.ico" />
    @Styles.Render("~/bundles/bootstrapcss")
    @Styles.Render("~/bundles/css")
    @Styles.Render("~/bundles/Icon")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/bootstrap")
    <link href="~/Resources/CSS/Layout/gridcustomtyle.css" rel="stylesheet" />
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-126094116-1"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() { dataLayer.push(arguments); }
        gtag('js', new Date());
        gtag('config', 'UA-126094116-1');
    </script>

</head>
<body>
    <div class="Title" id="top">
        <a href="/Index"><img class="d-inline-block logo" id="logo" src="~/Resources/Images/Banners/logo.png" /></a>
        <div class="d-inline-block Company" style="text-align:center" id="Company">
            <h3>CÔNG TY TNHH THƯƠNG MẠI DỊCH VỤ</h3>
            <h3>HIỆU CHUẨN CAL-GROUP</h3>
        </div>
        <div class="d-inline-block hotline" id="hotline" style="font-weight:bold">
            <p>Mr. Long</p>
            <p>Hotline: 0911 910 913</p>
            <p>Mr. Hải</p>
            <p>Hotline: 0937 600 702</p>
        </div>
    </div>
    <nav class="navbar Topnav navbar-expand-md navbar-dark fixed-top" id="navbar">
        <a class="Topnav-item icon fa fa-home Left" href="/Index"></a>
        <form action="/Search" class="form-inline Search">
            <input name="searchString" class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
            <button class="btn btn-outline-light my-2 my-sm-0" type="submit"><i class="fas fa-search"></i></button>
        </form>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <div class="Bar">
                <a class="Topnav-item" href="/About">Giới thiệu</a>
                <a class="Topnav-item" href="/Calibration">Hiệu chuẩn</a>
                <a class="Topnav-item" href="/Sanpham">Sản phẩm</a>
                <a class="Topnav-item" href="/News">Tin tức</a>
                <a class="Topnav-item" href="/Contact">Liên lạc</a>
                <a class="Topnav-item" href="/Library">Thư viện</a>
                <a class="Topnav-item" href="/FAQ">FAQ</a>
            </div>
        </div>
    </nav>
    <div id="Body">
        @RenderBody()
    </div>

    <hr style="border: 0; height: 1px; background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));" />
    <footer>
        <div class="container-fluid text-center" style="vertical-align:middle">
            <h2 style="text-align:center;color:#0075bf">Đối tác chiến lược</h2>
            @foreach (var Doitac in layout.Doitac)
            {
                <div class="d-inline">
                    <img class="Doitac" src="@Doitac.Image" />
                </div>
            }
        </div>
        <br />
        <div class="container-fluid" style="padding-top:20px;position:relative;background-color: #0075bf;color:white">
            <h2 style="text-align:center">Hỗ trợ khách hàng</h2>
            <div class="row MenuBT justify-content-center">
                @foreach (var NV in layout.Nhanvien.Take(8))
                {
                    if (NV.Status == true)
                    {
                        <div class="col-md-3 text-center">
                            <img style="height:100px;width:auto" src="@NV.Image" />
                            <h6>@NV.Role</h6>
                            <h5>@NV.Name</h5>
                            <h6><i class="fas fa-phone"></i> @NV.Phone</h6>
                            <h6>@NV.Email</h6>
                            <h6><a href="https://zalo.me/@NV.Zalo.Replace(" ","")"><img class="icons" style="height:30px;width:auto" src="~/Resources/Images/zalo.png" /></a> @NV.Zalo</h6>
                            <h6><a href="skype:@NV.Skype"><img class="icons" style="height:30px;width:auto" src="~/Resources/Images/skype.png" /></a> @NV.Skype</h6>

                        </div>
                    }
                }
            </div>
            <hr style="border: 0; height: 1px; background-image: linear-gradient(to right, #0075bf, white, #0075bf);" />
            <div class="row MenuBT justify-content-center">
                <div class="col-md-3">
                    @foreach (var Lienlac in layout.Lienlac.Take(1))
                    {
                        <h5 class="text-uppercase font-weight-bold" style="border-bottom:solid">Contact Us</h5>
                        <p class="Footercontent"> @Lienlac.Name </p>
                        <p class="Footercontent">Địa chỉ: @Lienlac.Address</p>
                        <p class="Footercontent">E-Mail: @Lienlac.Email </p>
                        <p class="Footercontent">Điện thoại: @Lienlac.Phone</p>
                        <p class="Footercontent">GPĐKKD số: 0315121569, cấp ngày 20/06/2018, Sở KHĐT Tp.HCM</p>
                        <p class="Footercontent">Người đại diện: Đặng Hoàng Phi Long - Giám Đốc</p>
                    }

                </div>
                <div class="col-md-3">
                    <h5 class="text-uppercase font-weight-bold" style="border-bottom:solid">Thông tin cần biết</h5>
                    <ul class="list-unstyled">
                        @foreach (var Cauhoi in layout.FAQ.Take(5))
                        {
                            <li>
                                <a class="Footerlink FAQ-button" data-toggle="modal" data-target="#exampleModalLong" data-alias="@Cauhoi.AliasName" value="@Cauhoi.Title" style="cursor: pointer">@Cauhoi.Title</a>
                            </li>
                        }
                    </ul>
                </div>
                <div class="col-md-3">
                    <div class="text-left">
                        <h5 class="text-uppercase font-weight-bold" style="border-bottom:solid">Hãy kết nối với chúng tôi</h5>
                        <br />
                        <ul class="list-unstyled list-inline text-center">
                            <li class="list-inline-item">
                                <a class="btn-block btn-sm mx-1" href="https://www.facebook.com/C%C3%B4ng-Ty-TNHH-Th%C6%B0%C6%A1ng-M%E1%BA%A1i-D%E1%BB%8Bch-V%E1%BB%A5-Hi%E1%BB%87u-Chu%E1%BA%A9n-Cal-Group-215766632451436/" target="_blank">
                                    <i class="fab fa-facebook-square fa-3x icons" style="color:white"></i>
                                </a>
                            </li>
                            <li class="list-inline-item">
                                <a class="btn-block btn-sm mx-1" href="https://plus.google.com/106613228992177627862" target="_blank">
                                    <i class="fab fa-google-plus fa-3x icons" style="color:white;"></i>
                                </a>
                            </li>
                            <li class="list-inline-item">
                                <a class="btn-block btn-sm mx-1" href="https://www.youtube.com/channel/UC0GIKfpfSr-EoRv2HaQRp8w" target="_blank">
                                    <i class="fab fa-youtube fa-3x icons" style="color:white;"></i>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <br />
            <div class="row justify-content-center MenuBT">
                <div class="col-sm-2">
                    <a href="http://online.gov.vn/HomePage/CustomWebsiteDisplay.aspx?DocId=47992"><img class="img-fluid" src="~/Resources/Images/Banners/dangkybocongthuong.png" /></a>
                </div>
            </div>
            <br />
        </div>

        <div class="container-fluid text-center Copyright" style="padding-bottom:10px; padding-top:10px;background-color: #0075bf;color:white">
            © 2018 Copyright - EWON
        </div>
    </footer>
    <div class="modal fade" id="exampleModalLong" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
        <div class="modal-dialog" role="document" style="max-width:800px">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLongTitle">Modal title</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
</body>
</html>
<script>
    $('.FAQ-button').click(function () {
        $('.modal-title').text($(this).attr("value"))
        $.ajax({
            type: 'Post',
            url: '/getDetail',
            dataType: 'json',
            data: { alias: $(this).attr("data-alias") },
            success: function (data) {
                var content = '<div class="container" >' + data + '</div>';
                $('.modal-body').html(content);
            }

        });

    })
</script>
@Scripts.Render("~/bundles/JavaScript")
@RenderSection("scripts", required: false)