@model IEnumerable<Model.EF.SanPham>

@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<section class="content-header">
    <h1>
        Bản quản lý
        <small>@Session["fullName"] - Member since - @Convert.ToDateTime(Session["createdDate"].ToString()).ToShortDateString()</small>
    </h1>
    <ol class="breadcrumb">
        <li class="active"><i class="fa fa-dashboard"></i> @(Convert.ToInt32(Session["isAdmin"].ToString()) == 1 ? "Quản trị viên" : "Thành viên")</li>
    </ol>
</section>

<section class="content">
    <div class="row">
        <div class="col-xs-12">
            <div class="box">
                <div class="box-header">
                    <h3 class="box-title"></h3>
                    <a href="/Admin/SanPhams/Create" class="btn btn-success btn-lg" style="cursor: pointer">
                        Thêm mới
                        @*@Html.ActionLink("Thêm mới", "Create")*@
                    </a>
                </div>
                <!-- /.box-header -->
                <div class="box-body">
                    <table id="example1" class="table table-bordered table-striped">
                        <thead>
                            <tr>
                                <th>
                                    @Html.DisplayNameFor(model => model.LoaiSanPham.Category)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.Name)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.Model)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.Manufacturer)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.ImageLink)
                                   
                                </th>
                                @*<th>
                                    @Html.DisplayNameFor(model => model.ImageLinkDetail)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.ManualLink)
                                </th>
                                <th>
                                        @Html.DisplayNameFor(model => model.Detail)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.Specification)
                                    </th>*@
                                <th>
                                    @Html.DisplayNameFor(model => model.Price)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.Hot)
                                </th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>

                            @foreach (var item in Model)
                            {
                                <tr>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.LoaiSanPham.Category)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Name)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Model)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Manufacturer)
                                    </td>
                                    <td>
                                        @*@Html.DisplayFor(modelItem => item.ImageLink)*@
                                        <img src="@Html.DisplayFor(modelItem => item.ImageLink)" id="img_@item.Alias" class="img-thumbnail" @*style="cursor:pointer"*@ alt="Alternate Text" width="100" @*onclick="selectImage('/Admin/Libraries/ChangeImage/@item.Alias',this.id)"*@ />
                                    </td>
                                    @*<td>
                                        @Html.DisplayFor(modelItem => item.ImageLinkDetail)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.ManualLink)
                                    </td>
                                    <td>
                                            @Html.DisplayFor(modelItem => item.Detail)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.Specification)
                                        </td>*@
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Price)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Hot)
                                    </td>
                                    <td>
                                        @*@Html.ActionLink("Edit", "Edit", new { id = item.Alias }) |
                                        @Html.ActionLink("Details", "Details", new { id = item.Alias }) |
                                        @Html.ActionLink("Delete", "Delete", new { id = item.Alias })*@
                                         
                                        <a href="/Admin/SanPhams/Edit/@item.Alias" data-toggle="tooltip" data-placement="top" title="Sửa"><i class="fa fa-edit"></i></a> &nbsp;
                                        <a href="/Admin/SanPhams/Details/@item.Alias" data-toggle="tooltip" data-placement="top" title="Chi tiết"><i class="fa fa-list-alt"></i></a> &nbsp;
                                        <a href="/Admin/SanPhams/Delete/@item.Alias" data-toggle="tooltip" data-placement="top" title="Xóa"><i class="fa fa-times-circle"></i></a> &nbsp;
                                        @*<span class="Delete" data-id="@item.ID" style="cursor:pointer" data-toggle="tooltip" data-placement="top" title="Xóa"><i class="fa fa-times-circle"></i></span> &nbsp;*@
                                    
                                    </td>
                                </tr>
                            }

                    </tbody>
                    <tfoot></tfoot>
                    </table>
                </div>
                <!-- /.box-body -->
            </div>
            <!-- /.box -->
        </div>
        <!-- /.col -->
    </div>
    <!-- /.row -->
</section>
<script src="~/Resources/Admin/js/SearchTable.js"></script>
<script src="~/Resources/Admin/js/ChangesStatus/Libraries.js"></script>
<script src="~/Resources/Admin/js/selectImage.js"></script>


