@model IEnumerable<Model.EF.Library>

@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<section class="content-header">
    <h1>
        Bản quản lý
        <small>@Session["fullName"] - Member since - @Convert.ToDateTime(Session["createdDate"].ToString()).ToShortDateString()</small>
    </h1>
    <ol class="breadcrumb">
        <li class="active"><i class="fa fa-dashboard"></i> @(Convert.ToInt32(Session["isAdmin"].ToString()) == 1 ? "Quản trị viên" : "Thành viên")</li>
    </ol>
</section>

<section class="content">
    <div class="row">
        <div class="col-xs-12">
            <div class="box">
                <div class="box-header">
                    <h3 class="box-title"></h3>
                    <a href="/Admin/Libraries/Create" class="btn btn-success btn-lg" style="cursor: pointer">
                        Thêm mới
                        @*@Html.ActionLink("Thêm mới", "Create")*@
                    </a>
                </div>
                <!-- /.box-header -->
                <div class="box-body">
                    <table id="example1" class="table table-bordered table-striped">
                        <thead>
                            <tr>
                                <th>
                                    <text>LibraryCategories</text>@Html.DisplayNameFor(model => model.LibraryCategory.Name)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.Name)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.Image)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.PDF)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.AliasName)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.Status)
                                </th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>

                            @foreach (var item in Model)
                            {
                                <tr>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.LibraryCategory.Name)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Name)
                                    </td>
                                    <td>
                                        @*@Html.DisplayFor(modelItem => item.Image)*@
                                        <img src="@Html.DisplayFor(modelItem => item.Image)" id="img_@item.ID" class="img-thumbnail" style="cursor:pointer" alt="Alternate Text" width="100" />
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.PDF)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.AliasName)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Status)
                                    </td>
                                    <td>
                                        @*@Html.ActionLink("Edit", "Edit", new { id = item.ID }) |
        @Html.ActionLink("Details", "Details", new { id = item.ID }) |
        @Html.ActionLink("Delete", "Delete", new { id = item.ID })*@
                                        <a href="/Admin/Libraries/Edit/@item.ID" data-toggle="tooltip" data-placement="top" title="Sửa"><i class="fa fa-edit"></i></a> &nbsp;
                                        <a href="/Admin/Libraries/Details/@item.ID" data-toggle="tooltip" data-placement="top" title="Chi tiết"><i class="fa fa-list-alt"></i></a> &nbsp;
                                        <a href="/Admin/Libraries/Delete/@item.ID" data-toggle="tooltip" data-placement="top" title="Xóa"><i class="fa fa-times-circle"></i></a> &nbsp;
                                    </td>
                                </tr>
                            }
                    </tbody>
                    <tfoot></tfoot>
                    </table>
                </div>
                <!-- /.box-body -->
            </div>
            <!-- /.box -->
        </div>
        <!-- /.col -->
    </div>
    <!-- /.row -->
</section>
<script src="~/Resources/Admin/js/Delete/Products.js"></script>
<script src="~/Resources/Admin/js/ChangesStatus/Products.js"></script>
<script src="~/Resources/Admin/js/selectImage.js"></script>
<script src="~/Resources/Admin/js/SearchTable.js"></script>

