
@{
    ViewBag.Title = "ChiTiet";
}
@model List<Calgroup.SanPham>
<style>
    #P-container{
        width:1000px;margin:10px auto;
    }
    #P-image {
        width:400px;display:inline-block;

        
    }
    #P-wrapper{
        width:590px;display:inline-block;
        vertical-align:top;
        margin-left:5px;
        margin-top:10px;
    }
    #P-buttonwrapper {
        background-color: #e0dfdf;
        width:100%;
    }
    .P-description{
        margin-top:10px
    }
    .buttons {
       display:inline-block;
       padding:5px;
      cursor:pointer;
    }

    .buttons.active{
        background-color:#7a7a7a;
        color:white;
    }
    #P-container #product p{
        line-height:16px;
    }
    #manual{
        background-color:green;
        border-radius:5px ;
        color:white;
        padding:5px 10px;
        display:inline-block;
    }

    .tags {
       
        padding: 0;
        
        
        list-style: none;
    }
        .tags li, .tags a {
            margin-left:5px;
            position: relative;
           
        }
        .tags a {           
            padding: 5px 12px;
            background: #0089e0;
            color: #fff;
            text-decoration: none;
            -moz-border-radius-bottomleft: 4px;
            -webkit-border-bottom-left-radius: 4px;
            border-bottom-left-radius: 4px;
            -moz-border-radius-topleft: 4px;
            -webkit-border-top-left-radius: 4px;
            border-top-left-radius: 4px;
        }
            .tags a:before {
                content: "";
                float: left;
                position: absolute;
                top: 0;
                right: -12px;
                width: 0;
                height: 0;
                border-color: transparent transparent transparent #0089e0;
                border-style: solid;
                border-width: 15.5px 0px 15.5px 12px;
            }
            .tags a:after {
                content: "";
                position: absolute;
                top: 14px;
                right: 0;
                float: left;
                width: 4px;
                height: 4px;
                -moz-border-radius: 2px;
                -webkit-border-radius: 2px;
                border-radius: 2px;
                background: #fff;
                -moz-box-shadow: -1px -1px 2px #004977;
                -webkit-box-shadow: -1px -1px 2px #004977;
                box-shadow: -1px -1px 2px #004977;
            }
            .tags a:hover {
                background: #555;
            }

                .tags a:hover:before {
                    border-color: transparent transparent transparent #555;
                }
    #P-card-container {
        margin: auto;
        font-size: 0;
    }
             .P-card{                
                 display:inline-block;
                 text-align:center;
               
                 margin:0 5px;
             }
             .P-card img{
                width:300px;
             }
             .P-card p{                 
                 font-size:18px;
                 font-weight:bold;
             }

</style>
<div id="P-container">
    <img id="P-image" src="@Model[0].ImageLink" />
    <div id="P-wrapper">
        <h3>@Model[0].Name</h3>
        <div id="P-buttonwrapper">
            <div class="buttons active"  data-link="product" >
                Sản phẩm
            </div>
            <div class="buttons"  data-link="detail" >
                Chi tiết sản phẩm
            </div>
            <div class="buttons" data-link="specification">
                Thông số kĩ thuật
            </div>
        </div>

        <div>
            <div class="P-description" id="product">              
                <p>Loại: @Model[0].Category</p>
                <p>Model: @Model[0].Model</p>
                <p>Hãng sản xuất: @Model[0].Manufacturer</p>
                <div id="manual">Hướng dẫn sử dụng</div>
                <div style="display:inline-block">
                    <ul class="tags">
                        <li><a href="#">Liên hệ</a></li>
                        

                    </ul>
                </div>                
                <hr />

            </div>

            <div class="P-description" id="detail" style="display:none">
                @Html.Raw(Model[0].Detail)
            </div>

            <div class="P-description" id="specification" style="display:none">
                @Html.Raw(Model[0].Specification)
            </div>
        </div>

    </div>
</div>

<div>
    <h1 style="text-align:center;background-color:#0075bf;color:white;padding:10px 0;margin:5px 0;">Các sản phẩm liên quan</h1>
    <div id="P-card-container">
        
    </div>
</div>

<ul class="pagination pagination-lg justify-content-center">
    <li id="pre"class="page-item"><a class="page-link" href="#">Previous</a></li>
    <li id="n1" class="page-item number number1"><a class="page-link" href="#">1</a></li>
    <li id="n2" class="page-item number"><a class="page-link" href="#">2</a></li>   
    <li id="next"class="page-item"><a class="page-link" href="#">Next</a></li>
</ul>

<script>
    //Responsive with fixed width
    function setWidth() {
        var b = Math.floor($(window).width() / 310);
        $('#P-card-container').width(b * 310);
    }
    setWidth();
    $(window).resize(setWidth);


    //TabNav
    $('.buttons').click(function () {
        var activeButton = $('#P-container .active')[0];

        id = $(this)[0].dataset.link;
        if (!$(this).hasClass('active')) {
            activeButton.className = activeButton.className.replace(" active", "");
            $(this)[0].className += ' active';
            $('.P-description').hide();
            $('#' + id).show();
        }
    });

    //
    var page1 = '';
    var page2 = '';
    for (var i = 0; i <= 4; i++) {
        page1 +=
            '<div class="P-card">'+
            '<img src="'+ '@Model[0].ImageLink'+'" />'+
            '<p>'+'@Model[0].Name'+'</p>'+
         '</div>'
    }
    for (var i = 0; i <= 3; i++) {
        page2 +=
            '<div class="P-card">'+
            '<img src="'+ '@Model[0].ImageLink'+'" />'+
            '<p>'+'@Model[0].Name'+'</p>'+
         '</div>'
    }
    $('.number').click(function (event) {
        event.preventDefault()
        if (!$(this).hasClass('active')) {
            $('.pagination .active').removeClass('active');
            $(this).addClass('active');
            $('.P-card').remove();
            
            if ($(this).children('a').html() == '1') { $('#P-card-container').append(page1) }
            else { $('#P-card-container').append(page2) }
        }
    })
    $('#pre').click(function (event) {
        event.preventDefault()
        $('#n1').click();
    })
    $('#next').click(function (event) {
        event.preventDefault()
        $('#n2').click();
    })
    $('#n1').click();
   
</script>