@{
    var layout = (Calgroup.VM.Layoutmodel)ViewBag.Mymodel;
    ViewBag.Title = "Contact";
}
<div class="row justify-content-around" style="padding: 2% 5% 2% 5%;">
    <div class="ContactUs col-md-6 col-sm-12" id="ContactUs">
        <h2>Liên lạc với chúng tôi</h2>
        <br />
        <form action="/SaveContact" method="post" class="contact_form">
            <div class="form-group">
                <label for="inputAddress">Họ và tên</label>
                <input type="text" class="form-control" id="inputName" name="inputName" placeholder="Họ và tên">
            </div>
            <div class="form-group">
                <label for="inputEmail4">Email</label>
                <input type="email" class="form-control" id="inputEmail" name="inputEmail" placeholder="example@gmail.com">
            </div>

            <div class="form-group">
                <label for="inputAddress">Địa chỉ</label>
                <input type="text" class="form-control" id="inputAddress" name="inputAddress" placeholder="Đường, Phường, Quận, Huyện, Thành phố">
            </div>
            <div class="form-group">
                <label for="comment">Phản hồi</label>
                <textarea type="text" class="form-control" rows="5" id="comment" name="comment"></textarea>
            </div>
            <button type="submit" class="btn btn-primary">Submit</button>
        </form>
    </div>
    <div class="col-md-6">
        <div id="map" style="width:100%"></div>
    </div>
</div>
<div class="hidden" style="display:none">
    @foreach (var Lienlac in layout.Lienlac.Take(1))
    {
        <input id="Name" value="@Lienlac.Name"/>

        <input id="Address" value="@Lienlac.Address"/>

        <input id="Phone" value="@Lienlac.Phone"/>

        <input id="Email" value="@Lienlac.Email"/>

        <input id="Lat" value="@Lienlac.Lat"/>

        <input id="Lng" value="@Lienlac.Lng"/>
    }
</div>
            <script>
                function initMap() {
                    var Lat = document.getElementById("Lat").value;
                    var Lng = document.getElementById("Lng").value;
                    console.log(Lat)
                    var map = new google.maps.Map(document.getElementById('map'), {
            zoom: 16,
            center: {
                lat: parseFloat(Lat), lng: parseFloat(Lng)
            },
            scrollwheel: false,
            mapTypeId: google.maps.MapTypeId.ROADMAP
                    });
                var marker = new google.maps.Marker({
                    position: new google.maps.LatLng( parseFloat(Lat), parseFloat(Lng)),
            map: map,
            title: 'Hello World!'
        });
            marker.setMap(map);
            console.log(Lat)
            var contentString = '<h5>' + document.getElementById("Name").value + '</h5>' +
                '<p>Địa chỉ: ' + document.getElementById("Address").value +'</p>' +
                '<p>Điện thoại: ' + document.getElementById("Phone").value +'</p>' +
                '<p>Email: <a href="#">' + document.getElementById("Email").value +'</a></p>'
        var infowindow = new google.maps.InfoWindow({
            content: contentString
        });
        infowindow.open(map, marker);
        marker.addListener('mouseover', function () {
            infowindow.open(map, marker);
        });


    };

    //$('#map').hover(function () { $('.outerx').width(0) }, function () { $('.outerx').width(500) });


</script>
<script async defer
        src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBU3hqOBborqZ-D86SlDhwOTiUA_D-Dke0&callback=initMap">
</script>

