
@{
    ViewBag.Title = "Library";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@model Calgroup.VM.SanPhamPageVM
<h2>Library</h2>
<link href="~/Resources/CSS/simplePagination.css" rel="stylesheet" />
<script src="~/Resources/JS/Scripts/jquery.simplePagination.js"></script>
<style>
    #lvcontainer {
        margin-left: 10px;
        display: inline-block;
        transition: left 0.5s;
        z-index: 2;
        cursor: pointer;
    }

    .linhvuccha {
        width: 300px;
        padding: 10px 10px 10px 15px;
        font-size: 16px;
        color: white;
        background-color: #0075bf;
        border-color: #0075bf;
        border-radius: 0;
    }

    .linhvuccon {
        width: 300px;
        background-color: white;
        border: 1px solid #0075bf;
        font-size: 16px;
    }

        .linhvuccon div {
            width: 100%;
            border-bottom: solid 1px #0075bf;
            padding: 5px 0px 5px 15px;
        }

            .linhvuccon div:hover {
                cursor: pointer;
                background-color: rgba(0, 117, 191, 0.27058823529411763);
            }

            .linhvuccon div:nth-child(1) {
                border-top: unset;
            }

    .clickable {
        cursor: pointer;
    }

    .pull-right {
        float: right !important;
    }


    .buttons.active {
        /*color: white;*/
        border-left: 10px solid #428bca;
    }

    .buttons {
        display: inline-block;
        padding: 5px;
        cursor: pointer;
        border-left: 10px solid transparent;
    }

    .clickable {
        cursor: pointer;
    }

    .pull-right {
        float: right !important;
    }

    .fas fa-angle-up::before {
        content: "\f106";
    }

    #P-card-container {
        margin: 0px auto 20px auto;
        font-size: 20px;
        display: inline-block;
        vertical-align: top;
    }

    #P-Category {
        text-align: center;
        padding: 0 60px;
    }

    #P-card-subcontainer {
        margin: auto;
    }

    i.fa-list-ul {
        font-size: 30px;
        color: white;
        background: #0075bf;
        padding: 7px 7px 7px 4px;
        /*border-radius: 30px;*/
        transition: left 0.5s;
        display: none;
        position: fixed;
        left: 0;
        z-index: 2;
        cursor: pointer;
    }

    .Item {
        cursor: pointer;
        background-image:unset;
        margin-top:30px;
    }

    @@media screen and (max-width: 900px) {
        #P-card-container {
            width: 100%;
        }

        i.fa-list-ul {
            display: inline-block;
            position: fixed;
        }

        #lvcontainer {
            position: fixed;
            margin-left: 0;
            left: -300px;
        }
    }
</style>

<div style="margin-top:20px;font-size:0">
    <div><i class="fas fa-list-ul"></i></div>
    <div id="lvcontainer">

        <div class=" linhvuccha">
            @Model.Menu[0].Name

        </div>

        <div class="linhvuccon">
            @foreach (var linhvuccon in Model.Menu[0].LinhVucCon)
            {
                <div class="buttons" data-alias="@linhvuccon[1]">
                    @linhvuccon[0]
                </div>
            }
        </div>
        <div class=" linhvuccha" data-toggle="collapse" data-alias="@Model.Menu[1].LinhVucCon[0][1]">
            @Model.Menu[1].Name
        </div>

    </div>

    <div id="P-card-container">
        <h1 id="P-Category"></h1>
        <div id="P-card-subcontainer" class="row"></div>

    </div>
    <div id="pagination" style="display:flex;justify-content:center">

    </div>
</div>
<script>
    

    //Ajax get product
    function LoadData() {
        $.ajax({
            type: 'Post',
            url: '/getThuVien',
            dataType: 'json',
            data: { aliascat: '@Model.AliasCat', page: $('#pagination').pagination('getCurrentPage') },
            success: function (data) {
                var content = ''; 
                if (data.Products != null) {
                data.Products = JSON.parse(data.Products);
                for (var i = 0; i < data.Products.length; i++) {
                    content += '<div class="col-md-6 col-lg-6 col-xl-4 " >' +
                        '<div class="Item" href="' + data.Products[i].PDF + '">' +
                        '<img class="img-fluid" src="' + data.Products[i].Image + '" />' +
                        '<h4>' + data.Products[i].Name + '</h4>' +
                        '</div>'+ '</div>'
                    
                    if (i == data.Products.length - 1) {
                        $('#P-card-subcontainer').html(content);
                        content = '';
                        $('.Item').click(function () {
                            window.location.href = $(this).attr('href')
                        })
                    }
                }
                };
                $('#P-Category').html('' + data.CategoryVi);
            }
            });
    }


    //Responsive with fixed width
    function setWidth() {
        if ($(window).width() > 900) {
            $('#P-card-container').width(($(window).width() - $('#lvcontainer').outerWidth(true)));
        }
        else $('#P-card-container').width('100%');
    }

    //Auto icon
    function toNavBar() {
        $('i.fa-list-ul').css('top', $('.navbar.Topnav')[0].offsetTop + $('.navbar.Topnav').height());
        $('#lvcontainer').css('top', $('i.fa-list-ul')[0].offsetTop);
    }

    function toNavBarOnce() {
        toNavBar();
        $(this).off("resize", toNavBarOnce);
    }

    //set linhvuccon click function
    $('.buttons').click(function () {
        window.location.href = '/ThuVien/' + $(this)[0].dataset.alias;
    });
    //
    $(window).ready(function () {
        setWidth();
        toNavBar();
    });

    $(window).on("resize", setWidth);
    $(window).on("resize", toNavBarOnce);
    $(window).scroll(toNavBar);
    $('i.fa-list-ul').click(function () {
        if ($(this).css('left') == '300px') { $(this).css('left', 0); $('#lvcontainer').css('left', '-300px') }
        else { $(this).css('left', '300px'); $('#lvcontainer').css('left', 0) }
    })



    $('#pagination').pagination({
        pages: @Model.PageCount,
        onPageClick: LoadData
    })
    $('#pagination').pagination('selectPage', 1);
</script>
