@{
    ViewBag.Title = "Sản phẩm";
}
@model Calgroup.VM.SanPhamPageVM

<style>
    #lvcontainer {
        margin-left: 10px;
        display: inline-block;
        transition: left 0.5s;
        z-index: 2;
        cursor: pointer;
    }

    .linhvuccha {
        width: 300px;
        padding: 10px 10px 10px 15px;
        font-size: 16px;
        color: white;
        background-color: #0075bf;
        border-color: #0075bf;
        border-radius: 0;
    }

    .linhvuccon {
        width: 300px;
        background-color: white;
        border: 1px solid #0075bf;
        font-size: 16px;
    }

        .linhvuccon div {
            width: 100%;
            border-bottom: solid 1px #0075bf;
            padding: 5px 0px 5px 15px;
        }

            .linhvuccon div:hover {
                cursor: pointer;
                background-color: rgba(0, 117, 191, 0.27058823529411763);
            }

            .linhvuccon div:nth-child(1) {
                border-top: unset;
            }

    .clickable {
        cursor: pointer;
    }

    .pull-right {
        float: right !important;
    }

    #P-card-container {
        margin: 0px auto 20px auto;
        font-size: 20px;
        display: inline-block;
        vertical-align: top;
    }

    #P-Category {
        text-align: center;
        padding: 0 60px;
    }

    #P-card-subcontainer {
        margin: auto;
    }

    i.fa-list-ul {
        font-size: 25px;
        color: white;
        background: #0075bf;
        padding: 7px 15px 10px 7px;
        border-radius: 0 0 30px 0;
        transition: left 0.5s;
        display: none;
        position: fixed;
        left: 0;
    }

    .Item {
        cursor: pointer;
    }
    /*.P-card {
        display: inline-block;
        text-align: center;
        margin-bottom: 15px;
        margin-top: 15px
    }
    .P-card img {
            width: 100%;
        }

        .P-card p {
            font-size: 18px;
            font-weight: bold;
            width:100%;
            margin-bottom: 0;
            background-color: whitesmoke;
        }

        .P-card div {
            font-size: 14px;
            width: 100%;
            background-color: ghostwhite;
        }*/

    .buttons.active {
        /*color: white;*/
        border-left: 10px solid #428bca;
    }

    .buttons {
        display: inline-block;
        padding: 5px;
        cursor: pointer;
        border-left: 10px solid transparent;
    }

    /*@@media screen and (min-width: 1400px)
    {
        .P-card{
            width:22.75%;
            margin-left:1.8%;
        }
        .P-card:nth-child(4n+4)
        {
            margin-right:1.8%;
        }
    }*/
    /*@@media screen and (max-width: 1400px) and (min-width:1024px) {
        .P-card {
            width: 31%;
        }

            .P-card:nth-child(3n+1), .P-card:nth-child(3n+3) {
                margin-left: 1.75%;
                margin-right: 1.75%
            }

            .P-card:nth-child(3n+2) {
                margin-left: 0;
                margin-right: 0;
            }
    }*/
    /*@@media screen and (max-width: 1024px)  {
        .P-card {
            width: 41%;
        }

            .P-card:nth-child(2n+1) {
                margin-left: 6%;
            }

            .P-card:nth-child(2n+1) {
                margin-left: 6%;
                margin-right: 6%;
            }
    }*/
    @@media screen and (max-width: 900px) {
        #P-card-container {
            width: 100%;
        }

        i.fa-list-ul {
            display: inline-block;
            position: fixed;
            z-index: 1000;
        }

        #lvcontainer {
            position: fixed;
            margin-left: 0;
            left: -300px;
        }
    }
    /*@@media screen and (max-width:500px) {
        .P-card p {
            font-size: 14px;
        }
        .P-card div{
            font-size:12px;
        }
    }*/
</style>

<div style="font-size:0px;margin-top:20px;">
    <h1 style="text-align:center;color:#0075bf;margin-bottom:20px">Danh sách sản phẩm</h1>
    <hr style="border: 0; height: 1px; background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));" />
    <div><i class="fas fa-list-ul"></i></div>
    <div id="lvcontainer" style="margin:unset">
        @foreach (var linhvuccha in Model.Menu)
        {
            <div class=" linhvuccha" data-toggle="collapse" data-target="#@linhvuccha.LinhVucCon[0][1]" aria-controls="navbarToggleExternalContent" aria-expanded="false" aria-label="Toggle navigation">
                @linhvuccha.Name
                <span class="pull-right clickable"><i class="fas fa-angle-down"></i></span>
            </div>

            <div class="collapse linhvuccon" id="@linhvuccha.LinhVucCon[0][1]">
                @foreach (var linhvuccon in linhvuccha.LinhVucCon)
                {
                    <div class="buttons" data-alias="@linhvuccon[1]">
                        <a class="hidden" href="@("/SanPham/"+ linhvuccon[1])"></a>
                        @linhvuccon[0]
                    </div>
                }
            </div>
        }
    </div>
    <div id="P-card-container">
        <h2 id="P-Category"></h2>
        <div id="P-card-subcontainer" class="row"></div>
    </div>
    <ul class="pagination justify-content-center" style="font-size:18px;"></ul>
</div>
<div class="hidden">
    @foreach (var link in ViewBag.LinkSP)
    {
        <a href="@("/Chitiet/" + link.ToString())"></a>
    }
</div>

<script>
    var page = [];
    //Ajax get product
    function LoadData() {
        $.ajax({
            type: 'Post',
            url: '/getSanPham',
            dataType: 'json',
            data: { aliascat: '@Model.AliasCat' },
            success: function (data) {
                var content = ''; var Count = 0;
                if (data.Products != null) {
                data.Products = JSON.parse(data.Products);
                for (var i = 0; i < data.Products.length; i++) {
                    content += '<div class="col-md-6 col-lg-6 col-xl-4 " style="margin-bottom:20px">' +
                        '<div class="Item" data-alias="' + data.Products[i].Alias + '">' +
                        '<img class="img-fluid" src="' + data.Products[i].ImageLink + '" />' +
                        '<h4>' + data.Products[i].Name + '</h4>' +
                        '<ul>' +
                        '<li>' + data.Products[i].Category + '</li>' +
                        '<li>' + data.Products[i].Model + '</li>' +
                        '<li>' + data.Products[i].Manufacturer + '</li>' +
                        '</ul>' +
                        '</div>' +
                        '</div>';
                    Count++;
                    if (Count == 15 || i == data.Products.length - 1) {
                        page.push(content);
                        content = '';
                        Count = 0;
                    }
                }
                $('#P-card-subcontainer').append(page[0]);
                if (page.length > 1) {
                    for (let x = 0; x < page.length; x++) {
                        let pagecontent = '<li class="page-item" data-page="' + (x + 1) + '"><a class="page-link" href="#">' + (x + 1) + '</a></li>';
                        $('ul.pagination').append(pagecontent);
                        $('.pagination li').first().addClass('active');
                    }
                    $('.pagination li').click(function (event) {
                        event.preventDefault();
                        if (!$(this).hasClass('active')) {
                            $('.pagination li.active').removeClass('active');
                            $(this).addClass('active');
                            $('#P-card-subcontainer').empty();
                            $('#P-card-subcontainer').append(page[$(this)[0].dataset.page - 1]);
                        }
						$('.Item').click(function () {
					var win = window.open('/ChiTiet/' + $(this)[0].dataset.alias, '_blank');
  					win.focus();
                });
                    });
                };
                $('.Item').click(function () {
					var win = window.open('/ChiTiet/' + $(this)[0].dataset.alias, '_blank');
  					win.focus();
                });
                }
                $('#P-Category').html('' + data.CategoryVi);
            }
            });
    }

    //Responsive with fixed width (SanPham)
    function setWidth() {
        if ($(window).width() > 900) {
            $('#P-card-container').width(($(window).width() - $('#lvcontainer').outerWidth(true)));
        }
        else $('#P-card-container').width('100%');
    }

    //Cho Down JS Collapse
    $('.linhvuccha').click(function () {
        var $this = $(this);
        if ($this.next().hasClass('show')) {
            $this.find('i').removeClass('fa-angle-up').addClass('fa-angle-down');
            $this.next().collapse();
        }
        else {
            if ($('.linhvuccon').hasClass('show')) {
                $('.show').collapse('hide').prev().find('i').removeClass('fa-angle-up').addClass('fa-angle-down');
            }
            $this.find('i').removeClass('fas fa-angle-down').addClass('fas fa-angle-up');
            $this.next().collapse();
        }
    })

    //Auto icon
    function toNavBar() {
        $('i.fa-list-ul').css('top', $('.navbar.Topnav')[0].offsetTop + $('.navbar.Topnav').height());
        $('#lvcontainer').css('top', $('i.fa-list-ul')[0].offsetTop);
    }
    function toNavBarOnce(){
        toNavBar();
        $(this).off("resize", toNavBarOnce);
    }

    //set linhvuccon click function
    $('.buttons').click(function () {
        window.location.href = '/SanPham/' + $(this)[0].dataset.alias;
    });
    //
    $(window).ready(function () {
        setWidth();
        toNavBar();
        LoadData();
    });

    $(window).on("resize",setWidth);
    $(window).on("resize", toNavBarOnce);
    $(window).scroll(toNavBar);
    $('i.fa-list-ul').click(function () {
        if ($(this).css('left') == '300px') { $(this).css('left', 0);$('#lvcontainer').css('left','-300px') }
        else { $(this).css('left', '300px'); $('#lvcontainer').css('left', 0)}
    })
</script>
